
.DS_Store
.DS_Store
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/id
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/action_cloud_init
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/action_provision
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/action_set_name
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/box_meta
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/creator_uid
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/disk_meta
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/index_uuid
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/private_key
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/synced_folders
devops/vb/vms/debian/.vagrant/machines/default/virtualbox/vagrant_cwd
devops/vb/vms/debian/.vagrant/rgloader/loader.rb
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/action_cloud_init
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/action_provision
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/action_set_name
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/box_meta
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/creator_uid
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/disk_meta
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/id
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/index_uuid
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/private_key
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/synced_folders
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/machines/default/virtualbox/vagrant_cwd
devops/vb/vms/ubuntu/ubuntu-ds-2404/.vagrant/rgloader/loader.rb
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/action_cloud_init
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/action_provision
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/action_set_name
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/box_meta
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/creator_uid
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/disk_meta
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/id
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/index_uuid
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/private_key
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/synced_folders
devops/vb/vms/centos/.vagrant/machines/default/virtualbox/vagrant_cwd
devops/vb/vms/centos/.vagrant/rgloader/loader.rb
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/action_cloud_init
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/action_provision
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/action_set_name
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/box_meta
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/creator_uid
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/disk_meta
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/id
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/index_uuid
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/private_key
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/synced_folders
devops/vb/vms/suse/.vagrant/machines/default/virtualbox/vagrant_cwd
devops/vb/vms/suse/.vagrant/rgloader/loader.rb
.DS_Store
.DS_Store
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/action_cloud_init
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/action_provision
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/action_set_name
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/box_meta
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/creator_uid
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/disk_meta
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/id
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/index_uuid
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/private_key
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/synced_folders
devops/vb/vms/debian/.vagrant/machines/dev-box/virtualbox/vagrant_cwd
