<?xml version="1.0" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<description>Web Projekt</description>
	<display-name>Web Projekt</display-name>

	<!-- S E R V L E T S ==================================== -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/conf/struts-config.xml,
				/WEB-INF/conf/struts-config-angebotsverwaltung.xml,
				/WEB-INF/conf/struts-config-vorgaenge.xml,
				/WEB-INF/conf/struts-config-benutzerverwaltung.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!--  J S P   S e i t e n ============================= -->
	<servlet>
		<servlet-name>indexJSP</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
		<load-on-startup>99</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>tilesJSP</servlet-name>
		<jsp-file>/WEB-INF/layout/tiles.jsp</jsp-file>
		<load-on-startup>99</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>headerJSP</servlet-name>
		<jsp-file>/WEB-INF/layout/header.jspf</jsp-file>
		<load-on-startup>99</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>menue1JSP</servlet-name>
		<jsp-file>/WEB-INF/layout/menue1.jspf</jsp-file>
		<load-on-startup>99</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>menue2JSP</servlet-name>
		<jsp-file>/WEB-INF/layout/menue2.jspf</jsp-file>
		<load-on-startup>99</load-on-startup>
	</servlet>
	<!-- Angebotsverwaltung -->
	<servlet>
		<servlet-name>angeboteJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/angebote.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>angebotDetailJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/angebotDetail.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>sucheJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/angebotsverwaltung/suche.jsp</jsp-file>
	</servlet>
	<!-- Vorgaenge -->
	<servlet>
		<servlet-name>warenkorbJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/warenkorb.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>kundeninfoJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/vorgaenge/kundeninfo.jsp</jsp-file>
	</servlet>	
	<servlet>
		<servlet-name>bestellungJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/vorgaenge/bestellung.jsp</jsp-file>
	</servlet>	
	<!-- Admin zeugs -->
	<servlet>
		<servlet-name>loginJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/admin/login.jsp</jsp-file>
	</servlet>			
	<servlet>
		<servlet-name>myaccountJSP</servlet-name>
		<jsp-file>/WEB-INF/jsp/admin/myaccount.jsp</jsp-file>
	</servlet>

<!-- S t r u t s   U m l e i t u n g ==================== -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- T i m e o u t ====================================== -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<!-- D e f a u l t   S e i t e n ======================== -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- F e h l e r   S e i t e n ======================== -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/admin/access-denied.jsp</location>
	</error-page>

	<!-- I N I T   P A R A M E T E R :   J S P ============== -->
	<context-param>
		<param-name>
			javax.servlet.jsp.jstl.fmt.localizationContext
		</param-name>
		<param-value>de.kipf.shop.util.messageResources</param-value>
	</context-param>

	<!-- K O N F I G U R A T I O N E N ====================== -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<url-pattern>*.jspf</url-pattern>

			<!-- Skriptlets nicht zulassen, sondern nur JSTL und andere Taglibs -->
			<scripting-invalid>true</scripting-invalid>
		</jsp-property-group>
	</jsp-config>

	<!-- S e c u r i t y ==================================== -->
	<!-- Restriktionen fuer URLs -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>shopLogin</web-resource-name>
			<url-pattern>/Login.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>shopKundenTaetigkeiten</web-resource-name>
			<url-pattern>/MyAccount.do</url-pattern>
			<url-pattern>/BenutzerProfile.do</url-pattern>
			<url-pattern>/UpdateBenutzer.do</url-pattern>
			<url-pattern>/FindAuftraege.do</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Kunde</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>shopAdminTaetigkeiten</web-resource-name>
			<url-pattern>/FindBenutzer.do</url-pattern>
			<url-pattern>/UpdateBenutzer.do</url-pattern>
			<url-pattern>/DeleteBenutzer.do</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Administrator</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Formular-basiertes Login -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/WEB-INF/jsp/admin/login.jsp</form-login-page>
			<form-error-page>/WEB-INF/jsp/admin/loginerror.jsp</form-error-page>
		</form-login-config>
	</login-config>
	
	<!--  Auflistung aller zulaessigen Rollen -->
	<security-role>
		<role-name>Administrator</role-name>
	</security-role>
	<security-role>
		<role-name>Sachbearbeiter</role-name>
	</security-role>
	<security-role>
		<role-name>Kunde</role-name>
	</security-role>
	
	<!-- DB Schnittstelle -->
	<resource-ref>
		<description>Datenbank</description>
		<res-ref-name>jdbc/kipfDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.sql.dataSource</param-name>
		<param-value>jdbc/kipfDS</param-value>
	</context-param>

</web-app>