<?xml version="1.0" ?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="de.kipf.shop.personen.db.Benutzer"/>
 		<mapping class="de.kipf.shop.personen.db.Benutzergruppe"/>
		<mapping class="de.kipf.shop.vorgaenge.db.Auftrag"/>
        <mapping class="de.kipf.shop.vorgaenge.db.Auftragsstatus"/> 
 		<mapping class="de.kipf.shop.vorgaenge.db.Auftragsstatustyp"/> 
		<mapping class="de.kipf.shop.teile.db.Teiltyp" />
		<mapping class="de.kipf.shop.teile.db.Einzelteil" />
		<mapping class="de.kipf.shop.teile.db.Lagerbuchung" />		
		<mapping class="de.kipf.shop.teile.db.AngebotsModell" />
		<mapping class="de.kipf.shop.teile.db.Modell" />
		<mapping class="de.kipf.shop.teile.db.KundenModell" />
		<mapping class="de.kipf.shop.teile.db.Fahrradtyp" />
		<mapping class="de.kipf.shop.teile.db.ModellEinzelteil" />
		<mapping class="de.kipf.shop.vorgaenge.db.Warenkorb" />
		<mapping class="de.kipf.shop.vorgaenge.db.WarenkorbPosition" /> 
	</session-factory>
</hibernate-configuration>